/* src/App.css */
body {
  background-color: #222;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.titulo {
  text-align: center;
  margin-bottom: 30px;
  color: #ffcb05; /* Amarelo Pokémon */
  text-shadow: 2px 2px #3c5aa6; /* Azul Pokémon */
}

.pokedex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cartao-pokemon {
  background-color: white;
  color: #333;
  border-radius: 15px;
  padding: 20px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.2s;
  cursor: pointer;
}

.cartao-pokemon:hover {
  transform: translateY(-5px);
}

.cartao-pokemon img {
  width: 100px;
}